<div class="form">
  <h2 id="registration" class = "mb-4">Editing Course</h2>
  
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="inline mr-2" ngModelGroup="CourseDetails" #CourseDetails="ngModelGroup">
      <mat-form-field class="Coursenamegroup" appearance="outline">
        <mat-label>Course name</mat-label>
        <input
          matInput
          type="text"
          id="coursename"
          name="coursename"
          [(ngModel)] = "coursename"
          required
          #fname="ngModel"
        />
      </mat-form-field>

      <mat-form-field class="Coursenamegroup ml-2" appearance="outline">
        <mat-label>Course ID</mat-label>
        <input
          matInput
          type="text"
          id="courseID"
          name="courseID"
          [(ngModel)] = "ID"
          required
          #fname="ngModel"
        />
      </mat-form-field>
    </div>

    <mat-form-field class="mr-2" appearance="fill">
      <mat-label>Academic Year</mat-label>
      <mat-select name="AcademicYear" [(ngModel)] = "AcademicYear">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Semester</mat-label>
      <mat-select id="semester" name="semester" [(ngModel)] = "Semester">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" class="mr-4">
      <mat-label>Department</mat-label>
      <mat-select name="Department" [(ngModel)] = "Department">
        <mat-option value="Preparatory">Preparatory</mat-option>
        <mat-option value="Electrical Engineering-General"
          >Electrical Engineering - General</mat-option
        >
        <mat-option value="Computer Engineering"
          >Computer Engineering</mat-option
        >
        <mat-option value="Communication and Electronics engineering"
          >Communication and Electronics engineering</mat-option
        >
        <mat-option value="Electrical Power Engineering"
          >Electrical Power Engineering</mat-option
        >
        <mat-option value="Civil Engineering">Civil Engineering</mat-option>
        <mat-option value="architecture Engineering"
          >architecture Engineering</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div>
      <small *ngIf="CourseDetails.invalid && CourseDetails.touched"
        >Some of the required fields does not have valid value.</small
      >
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      value="Submit"
      id="btn"
      [hidden]="!myForm.valid"
    >
      Update Course
    </button>
    <button mat-raised-button disabled class="disabled" [hidden]="myForm.valid">
      Update Course
    </button>
    <button mat-raised-button color="primary" type="button" (click)="onClose()">
      Close
    </button>
    <p [class] = "response == '' ? '' : response != 'Error in updating data within Database.' ? 'text-green-400' : 'text-red-400' "> {{response }}</p>
  </form>
</div>
