<Layout>
  <section>
    <div class="container">
      <div class="w-full inline-flex justify-between items-center gap-4">
        <div>
          <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
          >
            Students
          </h1>
          <p
            class="text-sm text-slate-500 dark:text-slate-400 [&:not(:first-child)]:mt-2"
          >
            Latest Actions.
          </p>
        </div>

        <button mat-stroked-button (click)="openForm()">Add Professor</button>
        <!-- <a routerLink="/students/1"> Go To Student 01 </a> -->
      </div>

      <app-all-students-table></app-all-students-table>
    </div>
  </section>
</Layout>
