.stat {
  position: relative;
  /* box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 7px;
  /* text-align: center; */
  overflow: hidden;
}

.stat > div:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: "";
}

.student-stat:after {
  background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
}
.professor-stat:after {
  background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
}
.course-stat:after {
  background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
}
/* .student-stat:after {
  background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
} */
