<header class="bg-white border-b border-b-slate-100 shadow-sm">
  <div class="container flex items-center justify-between mx-auto">
    <nav
      class="flex items-center space-x-8 text-sm sm:text-lg md:text-xl"
      aria-label="Tabs"
    >
      <a
        *ngFor="let navLink of navLinks"
        [routerLink]="navLink.to"
        class="py-6 flex justify-between items-center gap-2 text-gray-500 hover:text-gray-800 font-medium text-sm rounded-md"
      >
        <lucide-angular [name]="navLink.icon" size="18"></lucide-angular>
        <span>{{ navLink.title }} </span>
      </a>
    </nav>

    <button
      [matMenuTriggerFor]="menu"
      aria-label="Usermenu"
      class="w-10 h-10 rounded-full relative cursor-pointer"
    >
      <mat-icon *ngIf="!avatar">account_circle</mat-icon>
      <img
        *ngIf="avatar"
        src="../../../assets/Faculty_Logo.png"
        class="object-cover object-center w-10 h-10 rounded-full absolute left-[-2px] bottom-[-3px]"
      />
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-menu>
  </div>
</header>
