<div class="mat-elevation-z1 mt-4 shadow-md rounded-md">
  <div class="overflow-auto">
    <table mat-table [dataSource]="dataSource">
      <!-- ssn Column -->
      <ng-container matColumnDef="ssn">
        <th mat-header-cell *matHeaderCellDef>SSN</th>
        <td mat-cell *matCellDef="let element">{{ element.ssn }}</td>
      </ng-container>

      <!-- Professor Column -->
      <ng-container matColumnDef="professor">
        <th mat-header-cell *matHeaderCellDef>Personal Info</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="w-full inline-flex justify-start items-center grow gap-4"
        >
          <div class="w-20 h-20">
            <img
              [src]="
                'https://res.cloudinary.com/dnbruhgqr/image/upload/v1683030639/PersonalPhotos/' +
                element.image +
                '.jpg'
              "
              [alt]="element.name"
              class="aspect-square w-full h-full object-cover object-center rounded-full"
            />
          </div>

          <div>
            <h1 class="font-semibold">{{ element.name }}</h1>
            <p class="text-xs text-slate-400">
              {{ element.email }}
            </p>
            <p class="text-xs text-slate-400">
              {{ element.phone_number }}
            </p>
          </div>
        </td>
      </ng-container>

      <!-- department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
        >
          {{ element.department }}
        </td>
      </ng-container>

      <!-- master Column -->
      <ng-container matColumnDef="master">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          Master
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          {{ element.master }}
        </td>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="created_at">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          Created At
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          {{ element.created_at | date : "mediumDate" }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          Actions
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
        >
          <div class="flex justify-center items-center gap-4">
            <button mat-button (click)="onEdit(element.ssn)">Edit</button>
            <button
              mat-button
              (click)="onDelete(element.ssn)"
              class="hover:bg-red-500"
            >
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    class="pb-4"
  >
  </mat-paginator>
</div>
