<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" [src]="imgSource" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form (ngSubmit)="onSubmit()" class="space-y-6" #myForm="ngForm">
        <div>
    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
      <div class="flex items-center">
        <input [(ngModel)]="datalabel" value="Name" (change)="change()" id="admin" name="notification-method" type="radio" checked class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
        <label for="admin" class="ml-3 block text-sm font-medium text-gray-700"> Admin</label>
      </div>

      <div class="flex items-center">
        <input [(ngModel)]="datalabel" value="SSN" (change)="change()" id="user" name="notification-method" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
        <label for="user" class="ml-3 block text-sm font-medium text-gray-700"> User </label>
      </div>
    </div>
</div>
        <div>
          <label for="adminName" class="block text-sm font-medium text-gray-700"> {{ datalabel }} </label>
          <div class="mt-1">
            <input [(ngModel)]="uname_id" id="adminName" name="adminName" type="text" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>

        <div>
          <label for="pass" class="block text-sm font-medium text-gray-700"> Password </label>
          <div class="mt-1">
            <input [(ngModel)]="password" id="pass" name="pass" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
        </div>
        <small class="h-4 w-4 text-base text-red-600">{{error}}</small>
        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign in</button>
        </div>
      </form>
    </div>
      <small>{{error}}</small>

      <div class="flex justify-center mb-2">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>